@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
body {
  background-color: hsl(185, 41%, 84%);
  font-family: 'Lexend Deca', sans-serif;
}

a {
  color: hsl(183, 100%, 15%);
  margin-left: 1rem;
}

a:hover {
  color: hsl(172, 67%, 45%);
}

li {
  list-style: none;
}
