.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.enterbutton {
  margin-left: 1rem;
  background-color: hsl(183, 100%, 15%);
  color: white;
  border-radius: 0.5rem;
  border-color: hsl(183, 100%, 15%);
  border-style: solid;
  cursor: pointer;
  font-weight: bold;
}

.enterbutton:hover {
  background-color: hsl(184, 14%, 56%);
  border-color:hsl(184, 14%, 56%);
}

.container {
  margin-top: 1rem;
}
